/dist
**/__pycache__/

/books
/tests/outputs

**/empty_alt_text.txt
**/empty_alt_text_sample.txt
**/book_outputs
**/downloaded_books
**/results
**/alts.txt
**/images.txt

**/keys.py
**/vertex-key.json